<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <div class="navbar-header">
      <li class="nav navbar-nav nav-item active">
        <a class="nav navbar-nav nav-link" href="#">マッチング</a>
      </li>
    </div>
    <ul class="nav navbar-nav navbar-right">

      <li class="nav-item">
        <a class="nav-link" href="#">ログイン</a>
      </li>
      <li><%= link_to "新規登録", new_user_registration_path, class: "nav-link" %></li>
    </ul>
  </div>
</nav>